<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <title>Mezzi</title>
  <style>
    
    #loader {
      transition: all .3s ease-in-out;
      opacity: 1;
      visibility: visible;
      position: fixed;
      height: 100vh;
      width: 100%;
      background: #fff;
      z-index: 90000
    }

    #loader.fadeOut {
      opacity: 0;
      visibility: hidden
    }

    .spinner {
      width: 40px;
      height: 40px;
      position: absolute;
      top: calc(50% - 20px);
      left: calc(50% - 20px);
      background-color: #333;
      border-radius: 100%;
      -webkit-animation: sk-scaleout 1s infinite ease-in-out;
      animation: sk-scaleout 1s infinite ease-in-out
    }

    @-webkit-keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0)
      }

      100% {
        -webkit-transform: scale(1);
        opacity: 0
      }
    }

    @keyframes sk-scaleout {
      0% {
        -webkit-transform: scale(0);
        transform: scale(0)
      }

      100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
      }
    }

    #tableMezzi{
      overflow: auto!important;
    }
    #tableMezzi td{
      text-align: center;
    }

    .tooltip  {
      border-color: black !important;
    }

    .tooltip .arrow {
      display: none!important;
    }

    .tooltip .tooltip-inner {
      background-color: white;
      color: black;
      border: 1px solid black;
    }

    .tooltip-inner
    {
        min-width: 500px;
        width: 500px; 
        text-align: left!important;
    }

    span.hiddenfilter {
      display: none;
    }

    #filtri {
      background-color: rgba(0,0,0,.05); 
      padding: 20px;
      margin-bottom: 20px;
    }

    #filtri label{
      font-weight: 700;
      color: #313435;
    }

    #tableMezzi .dropdown-menu {
      left: -50px!important;
    }

  </style>
  <link rel="stylesheet" href="./css/style.css">
  <!--guida-->
  <link rel="stylesheet" href="./css/driver.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/driver.js/0.9.8/driver.min.css" integrity="sha512-yQuTmOu0Rm68Udrrd2uqDvHc/xzvQxJoNzYgLn7SK+EpPuEKZu82S44D2G++HLiz6lhUShgJPOri7zvRTVtyZQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="app">
  <div id="loader">
    <div class="spinner"></div>
  </div>
  
  <script>window.addEventListener('load', () => {
      const loader = document.getElementById('loader');
      setTimeout(() => {
        loader.classList.add('fadeOut');
      }, 300);
    });</script>
  <div>

    

  <%- include('includes/sidebar') %>
	
	
	<div class="page-container">
	
	  <%- include('includes/header_navbar') %>

      <main class="main-content bgc-grey-100">
        <div id="mainContent">

          <%- include('includes/form_mezzi') %>
          <%- include('includes/form_comunicazioni') %>
          <%- include('includes/form_stato_mezzi') %>
          <%- include('includes/form_scadenze') %>

          <div class="container-fluid">
            <h4 class="c-grey-900 mT-10 mB-30">Mezzi</h4>
            <div class="row">
              <div class="col-md-12">
                <div class="bgc-white bd bdrs-3 p-20 mB-20">
                  <h4 class="c-grey-900 mB-20">Elenco mezzi</h4>

                 
                  <div id="filtri">
                    <h5 class="c-grey-900 mB-20">Filtra per:</h5>
                    <form class="form-inline">
                      <fieldset class="form-group">
                      <script>
                        (hasRole('FSM')?document.write(
                        `
                        &nbsp;&nbsp;
                        <label for="filtraSede">Sede</label>
                        <select id="filtraSede" class="form-control">
                          <option value="">Tutte le sedi</option>
                          <option value="Macomer">Macomer</option>
                          <option value="Monserrato">Monserrato</option>
                          <option value="Sassari">Sassari</option>
                        </select>
                        `
                        ):"")
                      </script>

                      &nbsp;&nbsp;
                      <label for="filtraStato">Stato</label>
                      <select id="filtraStato" class="form-control">
                        <option value="">Tutti gli stati</option>
                        <option value="DS">Disponibile</option>
                        <option value="ND">Non disponibile</option>
                        <option value="DR">Disponibile con riserva</option>
                      </select>
                      &nbsp;&nbsp;
                      <label for="filtraComunicazioni">Con comunicazioni</label>
                      <select id="filtraComunicazioni" class="form-control">
                        <option value="">Tutti</option>
                        <option value="CS">Si</option>
                        <option value="CN">No</option>
                      </select>

                      <script>
                      (hasRole('FEM,FGMF')?document.write(
                      `
                      &nbsp;&nbsp;
                      <label for="filtraScadenze">Con scadenze</label>
                      <select id="filtraScadenze" class="form-control">
                        <option value="">Tutti</option>
                        <option value="NNN">Nessuna scadenza</option>
                        <option value="WWW">Manutenzioni in scadenza</option>
                        <option value="EEE">Manutenzioni scadute o dati mancanti</option>
                      </select>
                      `
                      ):"")
                      </script>

                      &nbsp;&nbsp;
                      <label for="filtraSegnalazioni">Con segnalazioni</label>
                      <select id="filtraSegnalazioni" class="form-control">
                        <option value="">Tutti</option>
                        <option value="CS">Si</option>
                        <option value="CN">No</option>
                      </select>
                      </fieldset>
                      
                      &nbsp;&nbsp;
                      <button type="button" class="btn btn-secondary" id="filtraAnnulla">Annulla</button>
                    </form>
                  </div>
                  
                  


                  
                        

                  <table id="tableMezzi" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead id="tableMezziHead">
                      <tr>
                        <th style="width: 10%;">Matricola</th>
                        <th style="width: 20%;">Modello costruttore</th>
                        <th style="width: 10%;">Conta km</th>
                        <!--<th style="width: 10%;">Km vita</th>-->
                        <th style="width: 10%;">Km manutenzione</th>
                        <th style="width: 20%;">Deposito</th>
                        <th style="width: 5%;">Stato</th>
                        <th title="Comunicazioni" style="width: 5%; text-align:center"><i class="ti-email"></i></th>
                        <script>
                          (hasRole('FEM,FGMF')?document.write('<th title="Scadenze e Avvertenze" style="width: 5%; text-align:center"><i class="fa fa-exclamation-triangle"></i></th>')
                          :document.write('<th title="Scadenze e Avvertenze" style="display:none"><i class="fa fa-exclamation-triangle"></i></th>'))
                        </script>
                        <th title="Segnalazioni" style="width: 5%; text-align:center"><i class="fa fa-exclamation"></i></th>
                        <th style="width: 10%;"></th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>



                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-right">
                <button id="tableMezzi_Export" type="button" class="btn btn-primary">Esporta</button>
              </div>
            </div>

          </div>
        </div>
      </main>
	  <%- include('includes/footer') %>
    <!--guida-->
    <%- include('guides/mezzi') %> 
    </div>
  </div>
  <!--guida-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/driver.js/0.9.8/driver.min.js" integrity="sha512-TMCPpR1wPPr92/7kiF88j9uTWczLpHyUTzt8sScGyN2btq/xWN22GjsdgNfUIMDtXV5WXUZ4s2OThcgpVxQv4w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="./js/vendor.js"></script>
  <script type="text/javascript" src="./js/bundle.js"></script>
</body>

</html>